{% extends "blog/base.html" %}
{% block content %}

    <div class="jumbotron">
        <h1>Ask Django</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
    </div>

        <ul>
    {% for post in post_list %}
      <li>
      <a href ="{% url "blog.views.post_detail" post.pk %}">
        {{ post.title }}
      </a>
      </li>
    {% endfor %}
    </ul>

{% endblock %}